ToDo-App/.terraform.lock.hcl
ToDo-App/.terraform.lock.hcl_bkp
ToDo-App/.terraform/*
ToDo-App/.terraform_bkp/*
modules/key/*
.DS_Store/*
#tfstate file
*.tfstate
*.tfvars
*.tfvars.json
*.tfstate.*
**/.terraform/*
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.pub
id_rsa
crash.log
crash.*.log
# this is an impotant file
Week3/bookshop_app/root/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_386/terraform-provider-aws_v4.67.0_x5.exe
Week3/bookshop_app/root/.terraform/terraform.tfstate
Week3/bookshop_app/root/.terraform/modules/modules.json
Week3/bookshop_app/root/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_386/terraform-provider-aws_v4.67.0_x5.exe
Week3/bookshop_app/root/.terraform/terraform.tfstate
